NODE_ENV=dev
#dev
PATH_CLI=http://localhost:3000
PATH_HOST=http://localhost:3001

DB_HOST=localhost
DB_NAME=intranet

JWT_SECRET=1234566777
JWT_EXPIN=1d

#uploads
UP_USER=users
UP_USER_LIMIT=1000000

UP_IMG_RUTA=chat/imgs
UP_DOCS_RUTA=chat/docs

UP_DOCS_LIMIT=1572864
UP_IMG_LIMIT=1572864

POST_IMGS=post/imgs
POST_DOCS=post/docs
PAGE_SIZE=3
PAGE_SIZE_COMMENT=5
PAGE_SIZE_LIKED=20


URL_LIFE=http://cloud.corporacionlife.com.pe:3000/intra-life-api



#email
EMAIL_HOST=52.42.230.239
EMAIL_PORT=587
EMAIL_USER=noreply@corporacionlife.com.pe
EMAIL_FROM=noreply@corporacionlife.com.pe
EMAIL_TO=amadordev@gmail.com
EMAIL_PASS=847%Br9ad0nHu9
#comunicaciones@corporacionlife.com.pe



